edited_URD.rds
edited_w_diffscores_lineage.rds
edited_w_diffscores.rds
mo20.rds
mo22.rds
unedited_URD.rds
unedited_w_diffscores_lineage.rds
unedited_w_diffscores.rds
.DS_Store
.Rproj.user
.Rhistory
.inj_heat1.M.fasta.done
.inj_heat1.M.fasta.out.done
.inj_heat1.UM.fasta.done
.inj_heat1.allReadCounts.done
.inj_heat1.barcodeSplit.fastq1.fq.gz.done
.inj_heat1.barcodeSplit.fastq1.fq.gz.out.done
.inj_heat1.barcodeSplit.indexFastq2.fq.gz.done
.inj_heat1.cleanedInter1.fq.gz.done
.inj_heat1.cleanedInter1.fq.gz.out.done
.inj_heat1.perBase.done
.inj_heat1.perBase.out.done
.inj_heat1.stats.done
.inj_heat1.stats.out.done
.inj_heat1.topReadCounts.done
.inj_heat1.topReadEvents.done
.inj_heat1.topReadEventsNew.done
.inj_heat1.umi.fwd.fastq.done
.inj_heat1.umi.fwd.fastq.out.done
.inj_heat1.umiCounts.done
.inj_heat1.unpaired1.fq.gz.done
.inj_heat1.unpaired2.fq.gz.done
.inj_heat1.withUMI.fq.gz.done
.inj_heat1.withUMI.fq.gz.out.done
.inj_heat2.M.fasta.done
.inj_heat2.M.fasta.out.done
.inj_heat2.UM.fasta.done
.inj_heat2.allReadCounts.done
.inj_heat2.barcodeSplit.fastq1.fq.gz.done
.inj_heat2.barcodeSplit.fastq1.fq.gz.out.done
.inj_heat2.barcodeSplit.indexFastq2.fq.gz.done
.inj_heat2.cleanedInter1.fq.gz.done
.inj_heat2.cleanedInter1.fq.gz.out.done
.inj_heat2.perBase.done
.inj_heat2.perBase.out.done
.inj_heat2.stats.done
.inj_heat2.stats.out.done
.inj_heat2.topReadCounts.done
.inj_heat2.topReadEvents.done
.inj_heat2.topReadEventsNew.done
.inj_heat2.umi.fwd.fastq.done
.inj_heat2.umi.fwd.fastq.out.done
.inj_heat2.umiCounts.done
.inj_heat2.unpaired1.fq.gz.done
.inj_heat2.unpaired2.fq.gz.done
.inj_heat2.withUMI.fq.gz.done
.inj_heat2.withUMI.fq.gz.out.done
.unedited1.M.fasta.done
.unedited1.M.fasta.out.done
.unedited1.UM.fasta.done
.unedited1.allReadCounts.done
.unedited1.barcodeSplit.fastq1.fq.gz.done
.unedited1.barcodeSplit.fastq1.fq.gz.out.done
.unedited1.barcodeSplit.indexFastq2.fq.gz.done
.unedited1.cleanedInter1.fq.gz.done
.unedited1.cleanedInter1.fq.gz.out.done
.unedited1.perBase.done
.unedited1.perBase.out.done
.unedited1.stats.done
.unedited1.stats.out.done
.unedited1.topReadCounts.done
.unedited1.topReadEvents.done
.unedited1.topReadEventsNew.done
.unedited1.umi.fwd.fastq.done
.unedited1.umi.fwd.fastq.out.done
.unedited1.umiCounts.done
.unedited1.unpaired1.fq.gz.done
.unedited1.unpaired2.fq.gz.done
.unedited1.withUMI.fq.gz.done
.unedited1.withUMI.fq.gz.out.done
.unedited2.M.fasta.done
.unedited2.M.fasta.out.done
.unedited2.UM.fasta.done
.unedited2.allReadCounts.done
.unedited2.barcodeSplit.fastq1.fq.gz.done
.unedited2.barcodeSplit.fastq1.fq.gz.out.done
.unedited2.barcodeSplit.indexFastq2.fq.gz.done
.unedited2.cleanedInter1.fq.gz.done
.unedited2.cleanedInter1.fq.gz.out.done
.unedited2.perBase.done
.unedited2.perBase.out.done
.unedited2.stats.done
.unedited2.stats.out.done
.unedited2.topReadCounts.done
.unedited2.topReadEvents.done
.unedited2.topReadEventsNew.done
.unedited2.umi.fwd.fastq.done
.unedited2.umi.fwd.fastq.out.done
.unedited2.umiCounts.done
.unedited2.unpaired1.fq.gz.done
.unedited2.unpaired2.fq.gz.done
.unedited2.withUMI.fq.gz.done
.unedited2.withUMI.fq.gz.out.done
